.Verificador{
  padding: 450px;
  font-size: 20px;
}
.Enviar{
  text-align: center;
}
.menu-icon{
  text-transform: uppercase;
    height: 100%;
    display: inline;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

  @media screen and (max-width: 600px) {

    .Verificador{
      padding: 100px;
      font-size: 20px;
    }
    .Enviar{
      text-align: center;
    }

  }
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
}

nav li {
  margin: 0 40px;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}



@media screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav li {
    margin: 10px 0;
  }

  nav a {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  input[type="text"], input[type="email"], input[type="password"] {
    font-size: 20px;
    padding: 20px 10px;
  }
}
