
.Verificador{
  padding: 450px;
  font-size: 20px;
}
.Enviar{
  text-align: center;
}

  @media screen and (max-width: 600px) {

    .Verificador{
      padding: 100px;
      font-size: 20px;
    }
    .Enviar{
      text-align: center;
    }

  }
  nav {
    
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    height: 100%;
    justify-content: space-between;
    background-color: blue;
  }

  nav ul{
    display: flex;
    align-items: center;
    padding: 0;
  margin: 0;
  }

  nav li {
    margin: 0 40px;
    list-style: none;
    flex: 1;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
  
.reescrevendo{
  padding-left: 450px;

}
.removendo{
  padding-left: 450px;
  
}
.inscrição{
  padding-left: 450px;
}

@media screen and (max-width: 768px ){
  .reescrevendo{
    padding-left: 12px;
  
  }
  .removendo{
    padding-left: 12px;
    
  }
  .inscrição{
    padding-left: 12px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  text-align: center;
  padding: 20px;
  }
  nav ul{
    display: inline;
    align-items: center;
  }
  nav li {
    margin: 10px 0;
  }

  nav a {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  input[type="text"], input[type="email"], input[type="password"] {
    font-size: 20px;
    padding: 20px 10px;
  }
}
